@charset "utf-8";
/* CSS Document */

body {
    background-color: #4ab5b5;
   	width:100%;
	
   
}
h4{
	padding: 5px;
	background-color: #74819b;
	margin: 0;
	margin-left: -10px;
}
/*.box{
	width: 28%;
    height: 800px;
    background-color: lightwhite;
    box-shadow: 10px 10px 5px #fff2f2;
    opacity: 1.5;
    filter: alpha(opacity=100);
}*/
#area{
	text-align: left;
}
.left {
	float:left;
	}
.tete > div{
	display: inline-block;
	margin-top: -40px;
	
}	
.tete{	
background-color: orange;
width: 100%;
	height: 50px;
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
	padding-top: 20px;
	margin-top: -10px;
	margin-left: -10px;
   padding-right: 10px;
}
.formRech{
	float: right;
	padding-top: 20px;
}
.formRech input[type=text]{
	background-color: white;
    padding: 5px;
    box-shadow: 0 0 5px 1px #969696;
	border-top: 1px solid #4ECDB4;
    border-left: 1px solid #4ECDB4;
    border-bottom: 1px solid #4ECDB4;
    border-right: 1px solid #4ECDB4;
	border-radius: 5px 0 0 5px;
	height:25px;
	font-size:1.1em;
	text-indent: 10px;
}

#list_rech{
	position: absolute;
	padding-left: 0;
	width: 260px;
}
#list_rech li{
	width: 100%;
	height: 30px;
	background-color: #42aec0;
	border-bottom: 0.5px solid white;
	padding-left: 5px;
	overflow: hidden;
	float: left;
	list-style-type: none;
	font-style: italic;
	font-size: 15px;
	color: white;
	border-radius: 3px;
}
#list_rech li:hover{
	background-color: white;
}
.menu{
	width: 25%;
	height: 740px;
	background-color: #6a6a6a;
	text-align: center;
	float: left;
	margin-left: -10px;
   
}
.block-col2{
	width: 70%;
	height: 740px;
	padding-left: 30px;
}
.menu ul{
	padding-left: 0px;
}
.menuOpt{
	padding-left: 0px;
	padding-top: 20px;
}
.menuOpt li{
	width: 100%;
	height: 30px;
	background-color: #8a8993;
	border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    padding-left: 0px;
    overflow: hidden;
    list-style-type: none;
}
.milieu{
	width: 75%;
	height: 100%;
}
.doc li{
	width: 100%;
	height: 30px;
	background-color: #8a8993;
	border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    padding-left: 0px;
    overflow: hidden;
    list-style-type: none;
}
.block > div{
	display: inline-block;
	
}

.doc li{
	width: 100%;
	height: 40px;
}
.affichdoc span{
	display: inline-table;
	
	padding: 10px;
}
.date{
	/*width: 40%;*/
	text-align: right;
	float: right;
}
.nomdoc{
	width: 20%;
}
.utilNomPrenom{
	
}
.image img {
    width: 100px;  
    float: left;
}

.lefichier > div{
	display: inline-table;
}
.contenu{
	width: 100%;
	
	float: left;
	border-bottom: 1px solid #FFFFFF;
}

.contenu ul li{
	background-color: #c4797b;
	display: inline-block;
	padding: 10px;
	font-style: italic;

}
.contenu ul li:hover{ background-color: #ea2b0f;}
li:hover {background-color: #F2462E;}

.contenu form input[type=text]{
	background-color: white;
    padding: 5px;
    box-shadow: 0 0 5px 1px #969696;
    width: 70%;
	border-top: 2px solid #4ECDB4;
    border-left: 2px solid #4ECDB4;
    border-bottom: 2px solid #4ECDB4;
    border-right: 2px solid #4ECDB4;
	border-radius: 5px 0 0 5px;
	height:25px;
	font-size:1.1em;
	text-indent: 10px;
}


.formConnect input {
	background-color: white;
    
    padding: 5px;
    box-shadow: 0 0 #969696;
    width: 210px;
	border-top: 1px solid #4ECDB4;
    border-left: 1px solid #4ECDB4;
    border-bottom: 1px solid #4ECDB4;
    border-right: 1px solid #4ECDB4;
	border-radius: 3px 3px 3px 3px;
	height:22px;
	font-size:1.1em;
	text-indent: 10px;
}
.formConnect input[type=submit]{
	height: 40px;
    float: right;
    width: 210px;
    background-color: #44e034;
    font-style: italic;
}

.formConnect td{
	font-style: italic;
	font-size: large;
}

.formInp > input[type=text]{
    background-color: white;
    
    padding: 5px;
    box-shadow: 0 0 5px 1px #969696;
    width: 230px;
	border-top: 2px solid #4ECDB4;
    border-left: 2px solid #4ECDB4;
    border-bottom: 2px solid #4ECDB4;
	border-radius: 5px 0 0 5px;
	height:25px;
	font-size:1.1em;
	text-indent: 10px;
	position:relative;
}	
#apercu{
	background-color: #f8f4f0;
	padding-left: 10px;
}
/* img {
    opacity: 1;
    filter: alpha(opacity=50); For IE8 and earlier
} */
.right {
	
	background-position: right top;
	background-color: #8c8a8a;
	width: 30%;
	height:800px;
	margin-left: -8px;
	}
.right label{
	border: 1px solid blue;
}
.deroule{

}
.deroule ul{
	width:185px;
	
	position:absolute;
	padding-left: 0px;
	padding-top:10px;
	float: left;
	margin-left: -10px
	
}
.deroule ul li{
	display: none;
	text-align: left;
}


.deroule:hover ul li {
	display:block;
	height: 18px;
	background-color: #47786a;
	text-align: left;
	padding-top: 0;	
}
#deroule li input[type=submit]{
	/*background-color: white;*/
    
    padding-bottom: 14px;
    /*box-shadow: 0 0 5px 1px #969696;*/
	/*border-top: 2px solid #4ECDB4;
    border-left: 2px solid #4ECDB4;
    border-bottom: 2px solid #4ECDB4;
	border-radius: 5px 0 0 5px;*/
	
	height:10px;
	width:100%;
	float:left;
	font-size:0.8em;
	text-indent: 10px;
}

#list_com li{
	list-style-type: none;
	background-color: #cbcac44d;
	border-bottom: 1px solid white;
	width: 100%;
	padding: 20px;
	
}

#list_com li .contDate{
	
}

/*  MISE EN PAGE AMIS  */

.amis {
	/*min-height:100px;*/
}

.amis{
	width: 100%;
	height: 30px;
	background-color: #8a8993;
	border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    padding-left: 0px;
    overflow: hidden;
    list-style-type: none;
}

.amis:hover > div.hide{
	display:block;
}
amis_tr > a{
	display: inline-block;
}
.Ajouter_Ami{
	float: right;
	padding-right: 10px;
	background-color: #3e8744;
	height: 30px;
	padding-left: 10px;
	color: white;
}
.hide{
	display: none;
	position: absolute;
	float: left;
	padding-top: 10px;
	margin-left: 220px;
	margin-top: -31px;
}

.hide > span{
	display:block;
	height: 30px;
	width: 150px;
	background-color: #0d868c;
	border-bottom: 1px solid white;
}

.hide > span a{
	
}
.nonLu{
	background-color:red;
	color:white;
}

/*  CONBERSATION */

#conversation{
	background-color: white;
	width: 60%;
} 

.env{
	background-color: #d0d1d5;
}

.rec{
	background-color: #e7efed;
	text-align: right;
}

li{
	list-style: none;
}

.env, .rec {
	max-width: 500px;
}

.heure{
	font-size: 0.5em;	
}

#telecharger:hover{
	cursor : pointer;
}
	
