@charset "utf-8";
/* CSS Document */

body {
    background-color: #4ab5b5;
   	width:1328px;
	
   
}
.box{
	width: 28%;
    height: 800px;
    background-color: lightwhite;
    box-shadow: 10px 10px 5px #fff2f2;
    opacity: 1.5;
    filter: alpha(opacity=100);
}
.left {
	float:left;
	}	
.tete h1{
	width: 100%;
	height: 50px;
	background-color: orange;
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
	padding-left: 10px;
	padding-top: 20px;
	margin-top: -10px;
	margin-left: -10px;


   
}
.menu{
	width: 25%;
	height: 740px;
	background-color: #6a6a6a;
	text-align: center;
	float: left;
	margin-left: -10px;
   
}
.block-col2{
	width: 70%;
	height: 740px;
	padding-left: 30px;
}
.menu ul{
	padding-left: 0px;
}
.menuOpt{
	padding-left: 0px;
	padding-top: 20px;
}
.milieu{
	width: 75%;
	height: 100%;
}
li{
	width: 100%;
	height: 30px;
	background-color: #8a8993;
	border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    padding-left: 0px;
    overflow: hidden;
    list-style-type: none;
}
.block > div{
	display: inline-block;
	
}

.doc li{
	width: 100%;
	height: 40px;
}
.affichdoc span{
	display: inline-table;
	
	padding: 10px;
}
.date{
	/*width: 40%;*/
	text-align: right;
	float: right;
}
.nomdoc{
	width: 20%;
}
.utilNomPrenom{
	
}
.image img {
    width: 100px;  
    float: left;
}

.lefichier > div{
	display: inline-table;
}
.contenu{
	width: 80%;
	background-color: #969696;
	float: left;
	border-bottom: 1px solid #FFFFFF;
}
.contenu ul{
	/*float: left;*/
}
.contenu ul li{
	background-color: #c4797b;
	display: inline;
	padding: 15px;
	font-style: italic;

}
.contenu ul li:hover{ background-color: #ea2b0f;}
li:hover {background-color: #F2462E;}

.contenu form input[type=text]{
	background-color: wite;
    padding: 5px;
    box-shadow: 0 0 5px 1px #969696;
    width: 70%;
	border-top: 2px solid #4ECDB4;
    border-left: 2px solid #4ECDB4;
    border-bottom: 2px solid #4ECDB4;
    border-right: 2px solid #4ECDB4;
	border-radius: 5px 0 0 5px;
	height:25px;
	font-size:1.1em;
	text-indent: 10px;
}

.contenu form input[type=submit]{
	background-color: wite;
    
    padding: 2px;
    box-shadow: 0 0 5px 1px #969696;
	border-top: 2px solid #4ECDB4;
    border-left: 2px solid #4ECDB4;
    border-bottom: 2px solid #4ECDB4;
	border-radius: 5px 0 0 5px;
	width: 25%;
	height:40px;
	float:right;
	font-size:1.1em;
	text-indent: 10px;
}

/*li:active {background-color: #5F879D;}*/
#formInscrip form input[type=password]{
	background-color: wite;
    
    padding: 5px;
    box-shadow: 0 0 5px 1px #969696;
    width: 230px;
	border-top: 2px solid #4ECDB4;
    border-left: 2px solid #4ECDB4;
    border-bottom: 2px solid #4ECDB4;
	border-radius: 5px 0 0 5px;
	height:25px;
	font-size:1.1em;
	text-indent: 10px;
}
.formInp > input[type=text]{
    background-color: wite;
    
    padding: 5px;
    box-shadow: 0 0 5px 1px #969696;
    width: 230px;
	border-top: 2px solid #4ECDB4;
    border-left: 2px solid #4ECDB4;
    border-bottom: 2px solid #4ECDB4;
	border-radius: 5px 0 0 5px;
	height:25px;
	font-size:1.1em;
	text-indent: 10px;
	position:relative;
}	

img {
    opacity: 1;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.right {
	margin-top: 10px;
	float:right;
	background-position: right top;
	background-color: #fff2f2;
	}
	
/*.clear {
	clear:both;
	}
.inline-block{
	display:inline-block;
}
	
ul, ol {
	list-style:none;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
	}

html {
	background-color:#f5f5f5;
	}
	
*/

/* Barre de menu*/
/*
#menu1 {
	position:fixed;
	margin:0 auto;
	height: 50px;
	line-height: 40px;
	background-color:#3188b5;
	border-bottom-color:#4ecdb4;
	border-style: solid;
    border-bottom-width: 5px;
	float:left;
	text-align:center;
	width:1328px;
	}
	
#menu1 ul {
	/*height: 50px;
	line-height: 30px;
	background-color:#3188b5;
	border-bottom-color:#4ecdb4;
	border-style: solid;
    border-bottom-width: 5px;
	float:left;
	text-align:center;
	width:1328px;*/
	}
*//*	
#menu1 ul li{ 
	display: inline-block;
    list-style: none;  pour enlever les puces sur IE7 **
    padding:0 30px;
	}
	
#menu1 ul li a{
	display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
	font-family:Ubuntu, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-style:bold;
	}
	
#menu1 ul li a:hover {
	text-shadow:
		#4ecdb4 0.5px 0.5px,
		#4ecdb4 -0.5px 0.5px,
		#4ecdb4 -0.5px -0.5px,
		#4ecdb4 0.5px -0.5px;  
}

#actu {
	margin:60px auto 0;
}

#rechercher form {
	position:relative;
}

#rechercher form {
	position:relative;
}

#search {
	width: 230px;
	border-top: 2px solid #4ECDB4;
    border-left: 2px solid #4ECDB4;
    border-bottom: 2px solid #4ECDB4;
	border-radius: 5px 0 0 5px;
	height:25px;
	font-size:1.1em;
	text-indent: 10px;
	}

#button {
	width: 31px;
	/*max-width:50%;
	max-height:50%;*/
	/*margin: -10px 0 0 -4px;
	border-radius: 0 15px 15px 0;
	background: url("../images/bouton_recherche2.gif") center center no-repeat;
	position:absolute;
	height:31px;
	
	top: 13px;
    right: -30px;
    border-top: 2px solid #4ECDB4;
    border-right: 2px solid #4ECDB4;
    border-bottom: 2px solid #4ECDB4;
	}
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    padding: 0;
}*/
	/*Gestion block inscription et connexion du menu*/
/*
.hidden{
	display: none;
	position: fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color: rgba(0,0,0,0.5);
}
.hidden form{
	background-color:#f5f5f5;
	margin:200px auto;
	text-align: center;
	border-radius: 15px;
	width: 270px;
	border-width:5px;
 	border-style:solid;
 	border-color:#3188b5;
 	box-shadow:2px 2px 1px #4ecdb4,
 			   -2px -2px 1px #4ecdb4,
 			   2px -2px 1px #4ecdb4,
 			   -2px 2px 1px #4ecdb4;

}
.hidden form table{
	width: 200px;
	margin: auto;
	margin-top: 50px;
}
#con_fermer, #ins_fermer{
	position: relative;
	left: 145px;
	top: 5px;
	 height: 0;
}
#con_fermer a, #ins_fermer a{
	text-decoration: none;
	font-size: 20pt;
	font-family: tahoma;
	position: relative;
    right: 25px;
    top: -5px;
   

}

form table tr{
	margin-bottom: 20px;
}

.hidden h1 {
	font-family:'MS Sans Serif', Geneva, sans-serif  ;
	font-size: 1.5em;
	font-weight:800;
	color:#3188b5;
	margin: 10px 0 12px 0;
	text-shadow:2px 2px 2px #4ecdb4;/*
 			   /*-1px -1px 1px #4ecdb4,
 			   1px -1px 1px #4ecdb4,
 			   -1px 1px 1px #4ecdb4;*/
/*}
.hidden ul {
	margin:10px 0 0 0;
}
.hidden li {
	margin:0 0 8px 0;
}
.label1 {
	font-family:'MS Sans Serif', Geneva, sans-serif  ;
	font-size: 1.1em;
	font-weight:200;
	color:#444444;
}
.input1 {
    margin: 3px 0 0 0;
    color:black;
    width:220px;
    height:20px;
    font-size:1.1em;
    border-radius: 5px;

}
.input1::placeholder */{ /* Chrome/Opera/Safari */
 /* opacity:0.8;
}
.input1::-moz-placeholder */{ /* Firefox 19+ */
/*  opacity:0.8;
}
.input1:-ms-input-placeholder { 
  opacity:0.8;
}
.input1:-moz-placeholder { 
  opacity:0.8;
}

.ins{
	width: 130px;
    height: 28px;
    font-size: 1.1em;
    font-weight:600;
    margin: 5px 0 5px 0;
    background-color:#4ecdb4;
    color:#3188b5;
    border-radius: 5px;

}*/
/*fin de gestion de block inscription et connexion*/


/* Accueil */

/*#contenu {
	padding: 65px 0 0 0;
}
	
#premier, #second, #troisieme, #quatrieme {
	width: 1120px;
	margin: 40px auto;
	}
	
.texte_accueil_left {
	margin:130px 0 0 50px;
	width:470px;
}
	
.texte_accueil_left h1 {
	font-weight:800;
	font-size:3em;
	font-family:Verdana, Geneva, sans-serif;
	color : #3188b5;
	text-shadow: 2.5px 2.5px #4ecdb4;
}

.texte_accueil_left a {
	font-weight:bold;
	font-size:1.2em;
	font-family:Verdana, Geneva, sans-serif;
	color : #4ecdb4;
	text-shadow: 1.5px 1.5px #3188b5;
	 text-align: justify;
}

.texte_accueil_right {
	margin: 130px 0;
	width:470px;
}	

.texte_accueil_right h1 {
	font-weight:800;
	font-size:3em;
	font-family:Verdana, Geneva, sans-serif;
	color : #3188b5;
	text-shadow: 2.5px 2.5px #4ecdb4;
}

.texte_accueil_right a {
	font-weight:bold;
	font-size:1.2em;
	font-family:Verdana, Geneva, sans-serif;
	color : #4ecdb4;
	text-shadow: 1.5px 1.5px #3188b5;
	text-align: justify;
}*/

/* Bibliothèque */
/*
#domaine{
	min-height: 100%;
	width: 150px;
	margin: 15px 0 0 20px;
	
}
.dom{
	text-decoration: none;
	font-size: 1.4em;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin:5px 0;
	color:#3188b5;
	cursor: pointer;

}
/*.dom:hover{
	color:#3188b5;
	text-shadow:
		#4ecdb4 0.5px 0.5px,
		#4ecdb4 -0.5px 0.5px,
		#4ecdb4 -0.5px -0.5px,
		#4ecdb4 0.5px -0.5px;
}*/
/*.genre li{
	height:100%;
	margin:5px 0 0 10px;
}

#domaine li a{
	text-decoration: none;
	font-size:1.1em;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#3188b5;
}
#domaine li a:hover{
	color:#3188b5;
	text-shadow:
		#4ecdb4 0.5px 0.5px,
		#4ecdb4 -0.5px 0.5px,
		#4ecdb4 -0.5px -0.5px,
		#4ecdb4 0.5px -0.5px;  
}*/
/*#domaine li a:last-child{
	margin:0 0 5px 0;
}*//*
.genre{
	display: none;
}


#livre_biblio{
	width: 1100px;
    border-left: 3px solid #4ecdb4;
    padding: 0 0 0 50px;
    margin: 15px 0 20px 0;
}
#livre_biblio li{
	display: inline-block;
	width: 530px;
	margin:15px 5px 0 0;
}
#livre_biblio li:last-child{
	margin:15px 5px 15px 0 ;
}
.descriptif{
	width:400px;
	margin: 20px 0 0 10px;
}
.titre{
	font-size: 1.1em;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:500;
	color:#3188b5;
	margin:0 0 5px;
}
.auteur{
	font-size: 1em;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#3188b5;
	margin:0 0 5px;
}
.editeur{
	font-size: 0.9em;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#3188b5;
}
#attache{
	margin-top: 20px;
}
#detail{
	margin-left: 20px;
}
#com{
	width: 600px;
	margin-left: 50px;
}
*/
/*  Recherche */
/*
#livre_recherche {
	width:600px;
	border-left: 3px solid #4ecdb4;
	border-right: 3px solid #4ecdb4;
    padding: 0 0 0 50px;
    margin: 15px 0 20px 0;
}
#livre_recherche li{
	display: inline-block;
	width: 530px;
	margin:15px 5px 0 0;
}
#livre_recherche li:last-child{
	margin:15px 5px 15px 0 ;
}
.titre_recherche{
	width: 445px;
	font-size: 1.1em;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:500;
	color:#3188b5;
	margin:0 0 5px;
}
#mot {
	width:450px;
	height:100%;
	margin:0 auto;
}
*/
/* Document */
/*
#docu div{
	display: inline-block;
}

#couv{
	margin:20px 0 0 174px;
	border: 2px solid #3188b5;
	border-radius:10px;
	padding: 10px 15px 10px 10px;
	box-shadow: 2px 2px 3px #4ecdb4;
}

#detail{
	width:740px;
}
#resume {
	font-size: 1.05em;
	font-family:"Times New Roman", Georgia, Serif;
	font-weight:500;
	color:#050505;
	margin:10px 0 5px ;
	width:740px;
	text-align:justify;
}
#com p{
	margin:0 0 10px 0;
	border-width:0 0 2px 0;
	border-style: solid ;
	border-bottom-color:#3188b5;
	padding: 0 0 10px 0;


}
#com p:last-child{
	border-style:none;
	padding:0;
	margin:0;
}
#com p a{
	font-family:Ubuntu, Verdana, Geneva, Arial, Helvetica, sans-serif;
	  text-decoration: none;
	  color:#3188b5;
	  font-weight:bold;
	  margin-top:20px;
	}
*/
/* Mentions légales*/
/*
#mention {
	margin:20px auto ;
	width:60%;
	height:100%;
}
#mentiontexte {
	margin-top:20px;
}
#mention h1 {
	font-size:2.5em;
	text-align: center;
	color:#3188b5;
	font-family:Ubuntu, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;

}
#mention h2 {
	font-size:1.5em;
	color:#3188b5;
	font-family:Ubuntu, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin:10px 0 5px 0;
	text-transform: capitalize;
}
#mention h3 {
	font-size:1.3em;
	color:#3188b5;
	font-family:Ubuntu, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin:15px 0 10px 0;
	text-transform: capitalize;
}
#mention h4 {
	font-size:1.1em;
	color:#3188b5;
	font-family:Ubuntu, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin:10px 0 3px 0;
	text-transform: capitalize;
}

#mention a{
	text-align:justify;
}
#mention p {
	text-align:justify;
	color:#333333;
}*/
/*gestion du profil*/
/*
#centre {
	padding: 0 20px 0 0;
	border-right: 3px solid #4ecdb4; 
}
#contenu2 > div{
	margin: 0 20px;
}
.actualites{
	width: 600px;
	height: 170px;
	border: 3px solid #3188b5;
	margin-bottom: 20px;
	padding: 5px;
	border-radius: 10px;
}
.titre_actu{
	font-size: 1.5em;
}*/
/*gestion du profil*/

/* ACTUALITE */

/*	
		
	@font-face {
  font-family: 'icons';
  src: url("font/icons.eot");
  src: url(".font/icons.eot?#iefix") format('embedded-opentype'), url("font/icons.woff") format('woff'), url("font/icons.ttf") format('truetype'), url("font/icons.svg#icons") format('svg');
  font-weight: normal;
  font-style: normal;
}
 
abbr,article,aside,audio,canvas,datalist,details,figure,dialog
		,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video
		{display : block;} */
/* @media only screen and (max-width:800px) {
  */
   /*----------------------------------------------------*/
	/*a:link {
	color : white;
	}
	a:visited {
	color : white;
	}
	a:hover {
	color : black;
	}
	a:active {
	color : gray;
	}*/
	
	/*--------------------------------------------------*/
	/*#conteneur {
	
	margin : 0 auto;
	 
	 } 
	 h1
	 {
		 font-size: 1.5em;
		 color: #3188B5;
	 }
	 p{
		 font-size: 1.2em;
	 }
	.all-type{ 
	height : auto;
	padding : 13px 0px 0 20px; 	
	border-radius: 5px;*/
	/* -webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px; */
	
	/*box-shadow : 0px 5px 10px 5px  #3188b5;
	margin-top :26%;
	 
    background: -webkit-linear-gradient(white ,#ddd); *//* For Safari 5.1 to 6.0 */
   /* background: -o-linear-gradient(white ,#ddd); 
    background: -moz-linear-gradient(white ,#ddd); 
    background: linear-gradient(rgb(255,255,255) ,rgb(221,221,221)); 
    background: rgba(255,255,255);
	    width: 65%;
    margin: 0 auto;
	    margin-top: 7%;
	} 
	.annule{clear : both;}*/
	/*-------------------------------------------*/
	 
 
/*---------------------------------------------------------------*/
/*
hr { width : 400px ;  display: inline-block; vertical-align: middle;   margin-left: 20px;}
#animu{border : solid 1x black;
 width : 650px ; height : auto; 
 display: inline-block;
 margin-left : 35px; 
    line-height: 165%;
 }
#animu img { width : 120px ; height : 170px; float : left;
	border-radius: 5px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	}
#animu-description{
	float : right; 
	width : 490px ;
	height : 100px; 
	padding: 0; margin-top: 22px; 
	}
	
.span{cursor : pointer;}
#type-animu { border : solid 1x black; }  */

/*-----------------------------------------------------------------*/
  /* 
.alltype {
	position : fixed;
	top :0;
	
    z-index: 10000;
}
  .imgDescription
  {
	width: 150px;
height:150px;	
 }
 .modal-body p
 {
	color: grey;
 }
#page
{

	    background-color: #f5f5f5;
}*/
/*page inscription*/
/*#msg{
	width: 400px;
	margin: auto;
	padding: 20px;
	font-size: 3em;
	color: #4ecdb4;
}
#msg2{
	width: 600px;
	margin: auto;
	font-size: 1.3em;
	padding-bottom: 20px;
}


#footer {
	margin:0 auto;
	height: 50px;
	line-height: 40px;
	background-color:#3188b5;
	border-top-color:#4ecdb4;
	border-style: solid;
    border-top-width: 4px;
	float:left;
	text-align:center;
	width:1328px;
	}

#footer ul{
	line-height: 35px;
	}
	
#footer ul li {
	display: inline-block;
    list-style: none; pour enlever les puces sur IE7 
    padding:0 50px;
	
	}
	
#footer ul li a { 
	display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
	font-family:Ubuntu, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-style:bold;
	}
	
#footer ul li a:hover {
	text-shadow:
		#4ecdb4 0.5px 0.5px,
		#4ecdb4 -0.5px 0.5px,
		#4ecdb4 -0.5px -0.5px,
		#4ecdb4 0.5px -0.5px;  
}*/